 html{
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
   background-color: rgb(245, 255, 240);
   padding: 10px;
   margin: 0;
}
header{
    position: fixed;
    background-color: papayawhip;
    width: 99%;
    
}
nav{
  text-align: center;
      
}
nav a{
    color: darkblue;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}
nav a:hover{
    background-color: darkgreen;
    color: rgb(1, 1, 17);
}
nav a.active{
    background-color: darkgray;
    color: white;
}
#one{
    float: right;
    height: 662px;
    width: 800px;
}
.section{
    background-color: rgb(5, 226, 255);
    padding: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 170px;
}
#home{
    justify-content: space-evenly;
}
#home>#contacts{
    padding-top: 280px;
    line-height: 35px;
}
footer{
    text-align: center;
} 
